.card-body {
    padding: 24px;
    position: relative;
}
p.text-right.invoice-mobile {
        margin-bottom: -3px;
    font-size: 15px;
    font-weight: bolder;
}
.in-address{
        margin-top: -7px;
}

.syed{
        font-size: 46px;
    word-spacing: 3px;
    font-family: 'Contrail One', cursive;
    letter-spacing: 1px;
}

#Dealers{
        margin-top: -10px;
}
.margin5{
    margin-top: -5px;
}
.pad10{
    padding: 10px;
}
#inv-header{
    border: 1px solid #000;
    border-radius: 11px!important;
}

#inv-header-tamil{
    text-align: center;
    border: 1px solid #000;
    border-radius: 11px!important;
        background: #EEE;
}

#inv-to{
    float: left;
    position: relative;
    width: 60.9%;
    padding: 0px 0px 0px 30px;
    border: 1px solid;
    border-radius: 10px!important;
    max-height: 150px;
    min-height: 150px;
    margin-right: 3px;


}
#to-address{
    padding-left: 30px;
    margin-top: -10px;
}
#inv-dtls #inv-left {
    width: 40%;
    float: left;
    position: relative;
}
#inv-dtls  #inv-left .pill
{
    float: right;
    /*padding: 3px 7px;*/
}
#inv-dtls{
    float: left;
    position: relative;
    width: 38.5%;
    padding: 25px 0px 0px 15px;
    border: 1px solid;
    border-radius: 10px!important;
    max-height: 150px;
    min-height: 150px;

}
.padtop5{
    margin-top: 5px;
}
.padbtm5{
    padding-bottom: 5px;
}
#border-btm-hide
{
    border-bottom-style: hidden;
}
#border-top-hide
{
    border-top-style: hidden;
}
#border-left-hide
{
    border-left-style: hidden;
}
#border-right-hide
{
    border-right-style: hidden;
}
#rupees{
    border-bottom: 1px dotted #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
  
}


#purchaser_sign{
    text-align: -webkit-center;
     padding: 5px;
    border: 1px solid;
    border-radius: 10px!important;
    max-height: 80px;
     min-height: 80px;

}
#terms{
    padding: 5px;
    border: 1px solid;
    border-radius: 10px!important;
    max-height: 80px;
     min-height: 80px;
}
#authorised-sign{

    padding: 5px;
    border: 1px solid;
    border-radius: 10px!important;
    max-height: 80px;
     min-height: 80px;

}

.purchasered{
        margin-right: 3px;
    float: left;
    position: relative;
    width: 23.5%;
}

.termed{
        margin-right: 3px;
    float: left;
    position: relative;
    width: 52%;
}
.authorised{
        text-align: -webkit-center;
    float: left;
    position: relative;
    width: 23.5%;
}

@media print {
    * { -webkit-print-color-adjust: exact; }
    html { background: none; padding: 0; }
    body { box-shadow: none; margin: 0; }
    span:empty { display: none; }
    .add, .cut { display: none; }
    
}

@page { 
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 0px; 
}
.font12{
    font-size: 12px!important;
}